Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.uasset
Content/KiteDemo/Maps/Showcase.umap
Content/KiteDemo/Maps/Overview.umap
Content/StarterContent/Maps/StarterMap.umap
Content/StarterContent/Maps/Minimal_Default.umap
Content/StarterContent/Maps/Advanced_Lighting.umap
Content/ForestSet/Maps/Overview.umap
Content/ForestSet/Maps/Showcase.umap
Content/GTFreeMaterials/Showcase.umap
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
